{% extends 'base.html' %}

{% block title %}
  Item list
{% endblock %}

{% block body %}
  <h1>Items</h1>
  {% if item_list %}
    <h3>Items list:</h3>
    <ul>
      {% for item in item_list %}
        <li>
          <a href="{% url 'catalog:item-detail' pk=item.pk %}">
            {{ item }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h4>There is no items yet</h4>
  {% endif %}
{#    {% if user.is_superuser %}#}
    <a class="btn btn-primary" href="{% url 'catalog:item-create' %}">Create</a>
{#    {% endif %}#}
{% endblock %}
